header {
    width: 940px; /* Tamaño del encabezado */;
    background-color: rgb(151, 26, 26);
    margin: 0 auto;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.caja{
    margin: 0 auto;
    color: aqua; 
    text-align: center; 
}

.caja h1{
    font-weight: bold;
    font-size: 20px;
}
.caja h2{
    font-weight: bold;
    font-size: 15px;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 100px;
}
  
.left {
    width: 620px;
    text-align: center;
    padding: 20px;
    margin: 0 10px;
}
  
textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 100px;
}
  
.MensajeImportante{
    margin: 0 auto;
}

.MensajeImportante p{
    font-size: 10px;
    font-weight: bold;
}

.botones{
    margin: 0 auto;
}

button {
    display: inline;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.7s all;
    cursor: pointer;
}
  
#Boton-Encriptar{
    border-color: blue;
    color: blue;
}

#Boton-Encriptar:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2);
}

#Boton-Desencriptar{
    border-color: green;
    color: green;
}

#Boton-Desencriptar:hover{
    background-color: green;
    color: white;
    transform: scale(1.2);
}



.right {
    width: 220px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}
  
.sinmensaje {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
}

.sinmensaje img{
    margin: 0 auto;
}
  
h1{
    font-size: 18;
    font-weight: bold;
    text-align: center;
}

#Boton-Copiar{
    border-color: gray;
    color: gray;
    margin: 0 auto;
    display: none;
}

#Boton-Copiar:hover{
    background-color: gray;
    color: white;
    transform: scale(1.2);
}

footer{
    width: 940px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(8, 8, 61);
    padding: 40px;
}

footer h1{
    color: white;
    font-size: 18px;
}

footer h2{
    color: white;
    font-size: 14px;
}